.parallaxParent {
	height: 100vh;
	overflow: hidden;
}

.header{
	position:fixed;
	border:1px solid black;
	width:100%;
	display: flex;
	justify-content: space-between;
  background-color:white;
  z-index:1;
}

.profile-name {
	font-size:3em;
	font-weight:bold;
}

.profile-name, .icons{
	margin:.5em;
}

nav {
  display:inline;
  float:right;
  margin-top:.5em;
}

nav a {
	margin:1em;
	font-size:2em;
	color:black;
}

nav a:hover{
	color:#D3D3D3;
}

a:link{
  text-decoration:none;
  color:black;
}

a:visited {
	text-decoration:none;
    color: black;
}

.social {
	text-align: center;
	position:fixed;
	bottom: 0;
    width: 100%;
	border:1px solid black;
	z-index:100;
	opacity:1;
	background-color: #FFFFFF;
}

.mail{
	color:#FF0000;
}

.nav-panel{
	display:flex;
	justify-content: flex-end;
}

.hamburger{
	color:#999;
	background-color:white;
	border:0;
	font-size:3em;
	font-weight:bold;
	cursor:pointer;
	outline:none;
}

.linkedin{
	color:#0073B1;
}

i {
  margin-right: 2em;
  padding:.2em;
}

.social i:hover{
	opacity: 0.5;
    filter: alpha(opacity=50);
}

.cross{
	background:none;
	top:0px;
	right:0;
	color:#999;
	border:0;
	font-size:3em;
	height:.5em;
	font-weight:bold;
	cursor:pointer;
	outline:none;
	display:none;

}

.main-content{
	height:95vh;
}

.information{
	text-align: center;

}

.profile-photo{
	margin-top:10em;
	border-radius: 60%;
	width:20%;
	height:auto;

}

h1 {
	font-size:5em;
}

h2{
	font-size:4em;
}

h3 {
	font-size:3em;
	margin-bottom:2em;
}

p{
	font-size:1.8em;
}

.p-content{
	text-align: center;
}

.p-content h2{
	margin:.5em;
}

.p-content ul li{
	font-size:2.8em;
	padding:.3em;
}

.p-content ul li:hover{
	font-family: 'VT323', monospace;
	color:#ffff00 ;
}

.p-1{
	height:70vh;
	color:white;
	background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.p-2{
	background-image:url('../images/fd.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	width:100%;
}

.p-3{
	height: 200%;
	background:#CCCCCC;
	color:#333;
}
.project-item{
	display: flex;
	justify-content: center;
	height:400px;
}

.projects{
	width:65%;
	margin:0 auto;
}

.project-item-description{
	margin-left:2em;
	text-align: left;
}

.project-item-description p{
	font-size:1.5em;
}

.project-item-description h3{
	font-size:2em;
	margin-bottom:.5em;
}

.project-item img:hover{
	opacity:1;
}

.img{
	width:35%;

}

.img img{
	width:85%;
	height:80%;
	opacity:0.5;
}

.projects a{
	display:block;
	width:100%;
	height:100%;
}

.project-item-description{
	width:65%;
}

.tools{
	display:flex;
	justify-content: space-around;
}

.tools div{
	margin-top:2em;
	 width: 15%;
  	margin: .5vw;
}

.tools div img{
	 width: 100%;
  height: auto;
}


@media only screen and (max-width: 600px) {
    nav{
    	display:none;
    }
    .header{
    	justify-content: space-between;
    }
}


@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
	.main-content, .p-1, .p-2{
		height:40vh;
	}

	.img img{
	width:75%;
	height:55%;
	opacity:0.5;
	border-radius:15%;
	}
}



.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
